<div class="container">
    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="registerForm" class="register-form" (ngSubmit)="onSubmit($event)">
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" name="username" id="usernameInput" class="form-control" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" name="password" id="passwordInput" class="form-control" [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <label for="nameInput">Nome</label>
                    <input type="text" name="name" id="nameInput" class="form-control" [(ngModel)]="name">
                </div>
                <div class="form-group">
                    <label for="surnameInput">Cognome</label>
                    <input type="text" name="name" id="surnameInput" class="form-control" [(ngModel)]="surname">
                </div>
                <button type="submit" class="btn btn-primary">Prosegui</button>
            </form>
        </div>

    </div>
</div>
